In [42]:
# Dependencies
import os
import pymongo
import datetime
import requests
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup

In [74]:
# NASA Mars News
# Example:
#news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

#news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

In [75]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [76]:
# Retrieve page with the requests module
response = requests.get(url)

In [77]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [78]:
# Examine the results, then determine element that contains sought info
# print(soup.prettify())

In [79]:
# Identify and return title of listing
latest_title = soup.find('div', class_='content_title').find('a').text

# Identify and return text
latest_text = soup.find('div', class_='rollover_description_inner').text

print(latest_title)
print(latest_text)

Alabama High School Student Names NASA's Mars Helicopter


Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

In [80]:
# Mars Space Image
# Example:
#featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'

In [81]:
!which chromedriver

/usr/local/bin/chromedriver

In [82]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [83]:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23852_hires.jpg'
browser.visit(featured_image_url)

In [84]:
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23852_hires.jpg

In [85]:
# Mars Weather
# Example:
# mars_weather = 'Sol 1801 (Aug 30, 2017), Sunny, high -21C/-5F, low -80C/-112F, pressure at 8.82 hPa, daylight 06:09-17:55'

In [86]:
weather_url = 'https://twitter.com/marswxreport?lang=en'

In [87]:
# Retrieve page with the requests module
weather_response = requests.get(weather_url)

In [88]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(weather_response.text, 'html.parser')

In [89]:
# print(soup.prettify())

In [90]:
mars_weather = soup.find('div', class_='js-tweet-text-container').text
print (f"The latest Mars weather is: {mars_weather} ")

The latest Mars weather is:
InSight sol 522 (2020-05-16) low -93.2ºC (-135.7ºF) high -1.7ºC (29.0ºF)
winds from the SW at 5.1 m/s (11.3 mph) gusting to 18.8 m/s (42.1 mph)
pressure at 7.00 hPapic.twitter.com/5cnqf9Lnxz

In [91]:
# Mars Fact

In [92]:
fact_url = 'https://space-facts.com/mars/'
fact_table = pd.read_html(fact_url)
fact_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [93]:
fact_df = fact_table[0]
fact_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [94]:
html_table = fact_df.to_html()
html_table
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [95]:
df.to_html('table.html')

In [96]:
# Mars Hemispheres
# Example:
# hemisphere_image_urls = [
    # {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    # {"title": "Cerberus Hemisphere", "img_url": "..."},
    # {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    # {"title": "Syrtis Major Hemisphere", "img_url": "..."},
# ]

In [167]:
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)
hemispheres_html = browser.html

soup = BeautifulSoup(hemispheres_html, 'html.parser')
#print(soup.prettify())

In [168]:
items = soup.find_all('div', class_='item')
hemisphere_image_urls = []
main_url = 'https://astrogeology.usgs.gov'

for item in items:
    
    title = item.find('h3').text
    
    sm_img_url = item.find('a', class_='itemLink product-item')['href']

    browser.visit(main_url + sm_img_url)
    
    img_html = browser.html
    
    soup = BeautifulSoup(img_html, 'html.parser')
    
    image_url = main_url + soup.find('img', class_='wide-image')['src']
     
    hemisphere_image_urls.append({"title" : title, "img_url" : image_url})
    
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [179]:
print (f"Cerberus Hemisphere Enhanced: \n{hemisphere_image_urls[0]}\n")

print (f"Schiaparelli Hemisphere Enhanced: \n{hemisphere_image_urls[1]}\n")

print (f"Syrtis Major Hemisphere Enhanced: \n{hemisphere_image_urls[2]}\n")

print (f"Valles Marineris Hemisphere Enhanced: \n{hemisphere_image_urls[3]}\n")

Cerberus Hemisphere Enhanced:
{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}

Schiaparelli Hemisphere Enhanced:
{'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}

Syrtis Major Hemisphere Enhanced:
{'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}

Valles Marineris Hemisphere Enhanced:
{'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}